@model List<TicketingSystem.Models.Ticket>

@{
    ViewBag.Title = "DashBoard";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        Filter by Title: @Html.TextBox("FilterTitle")
        Filter by Status: @Html.DropDownList("Status",(SelectList)ViewBag.Statuses)
        Show Tickets for All Users: @Html.CheckBox("AllUsers")
        <input type="submit" value="Filter" />
    </div>
}

<table class="table">
    <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Status</th>
        <th>Author</th>
        <th>Assignee</th>
        <th>Created</th>
    </tr>
    <!--Loop through tickets and fill up the table-->
    @foreach (var ticket in Model)
    {
        <tr>
            <td>@ticket.Title</td>
            <td><div style="overflow:auto">@ticket.Body</div></td>
            <td>@ticket.Status</td>
            <td>@ticket.Author.Name</td>
            <td>@ticket.Assignee.Name</td>
            <td><span class="hidden-xs">@ticket.Created.ToString("MM/dd/yyyy")</span></td>
            <td>
                <div class="pull-right">
                    <a href="@Url.Action("Edit", new { id = ticket.Id })" class="btn btn-success btn-sm margin-right">
                        <span class="glyphicon glyphicon-edit"></span><span> Edit</span>
                    </a>
                    <a href="@Url.Action("Delete", new { id = ticket.Id })" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-trash"></span><span> Delete</span>
                    </a>
                </div>
            </td>
        </tr>
    }
</table>